.portfolio-item {
    transition: transform 0.3s ease;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

.portfolio-caption {
    transition: background-color 0.3s ease;
}

.portfolio-caption:hover {
    background-color: rgb(255, 209, 5) !important;
    color: white;
}

.team-member {
    transition: transform 0.3s ease;
}

.team-member:hover {
    transform: scale(1.05);
}